/*font-family: 'Montserrat', sans-serif;*/
*{
    margin: 0%;
    padding: 0%;
}
body{
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
}
header{
    width: 100vw;
    height: 8vh;
    background: #0a2ff1;
    margin-top: 0px;
    padding:0%
}
h2{
   
   font-family: 'Montserrat';
   text-align: center;
   font-size: 66px;
   color:#0a2ff1 ; 
   margin-top: 20px;
  padding: 40px;
}
.black{
    background: rgb(0, 0, 0);
    margin-top:60px;
}
h1{
    font-family: 'Montserrat';
    text-align: center;
    font-size: 197px;
    color: white;

}
main{
    width: 100vw;
    height: 80vh;
    background: rgb(255, 255, 255)
}
.friday{
    text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Montserrat';
  font-size: 217px;
  font-weight: 800;
  padding: 50px;
  margin-top: 20px;
}
.section{
    background: white;
    width: 100vw;
    height: 10vh;
}
h3{
    text-align: center;
    color: #0a2ff1;
    font-family: 'Monserrat';
    font-size: 48px;

}
strong{
    font-family: 'Montserrat';
    font-size: 48px;
    color: #0a2ff1;
    font-weight: 800;
}
span{
    color:white;
    font-size: 60px;
    background: black;
}

footer{
    width: 100vw;
    margin-top:100px;
    background: #0a2ff1;
}
p{
    font-family: 'Montserrat';
    color:#0a2ff1;
    margin-bottom: 100px;
    font-size: 58px;
    text-align: center;
    padding: 30px;
}